@use './mixins.scss' as *;
@use './screen.scss' as *;
$section: 'section';

.group-list {
  max-width: $breakpoint-xlg;
  margin: auto;
  .blog-group {
    .#{$section} {
      &-group-title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 15px;
        text-align: center;

        @include respond-to('xlg') {
          text-align: left;
        }
      }
    }
  }
}

.#{$section}-list {
  display: flex;
  flex-wrap: wrap;

  .#{$section}-item {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
    cursor: pointer;
    transition: transform 0.4s;

    @include respond-to('xlg') {
      width: calc(100% / 5 - 20px);
      margin: 10px;
    }

    &:hover {
      color: var(--primary-color);
      transform: scale(1.1);

      @include respond-to('xlg') {
        .sequence {
          background-color: var(--primary-color);
          color: #fff;
        }
      }
    }

    .sequence {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      padding: 4px 8px;
      font-size: 12px;
      text-align: center;
      color: #ffffff;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 100;
      transition: all 0.35s linear;
    }

    .title {
      font-size: 14px;
      margin: 10px;
      text-align: center;
    }
  }

  .#{$section}-item__img_warpper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;

    @include respond-to('xlg') {
      width: 100%;
      height: 150px;
    }

    &:hover > .description {
      bottom: 0;
    }

    .description {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 12px;
      padding: 10px 6px;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all 0.25s;
      // transition-delay: 0.2s;
    }

    .#{$section}-item__img {
      width: 100%;
      height: 100%;
    }
  }
}
