@use './var.scss' as *;

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    margin: 0 auto;
    width: 200px;
    display: inline-block;
  }
}

.blog-navbar {
  display: flex;

  .navbar-item.link {
    color: #212121;
    font-size: 16px;
    font-weight: 500;

    & + .link {
      margin-left: 20px;
    }

    &.active {
      color: var(--primary-color);
    }

    &:hover {
      transition: color 0.25s;
      color: var(--primary-color);
    }
  }
}
